#dialog {
     -fx-background-radius: 15px;
     -fx-border-radius: 15px;
     -fx-padding: 10px;
     -fx-font-size: 12px;
}

#name, #timeStamp {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}