.root{
    -fx-font-size: 12pt;
    -fx-font-family: sans-serif;
    -fx-background: #d5d5d5;
}

.chat-bubble {
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
    -fx-padding: 1em;
}