# IDEA files
/.idea/
/out/
/*.iml
/lib
/src/main/java/META-INF

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# data files
src/main/data/tasks.txt

/text-ui-test/ACTUAL.txt
text-ui-test/EXPECTED-UNIX.TXT
