# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml

# compile dir used by text-ui-test
/bin/

# vscode config
/.vscode/

# app data
/data/