.label {
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 12;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-background-color: #e8e8e8;

    -fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}